@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@mixin RobotoRegular() {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
@mixin colorBlack($alpha) {
  color: rgba(32,32,2, $alpha);
}

$turquoise: #3CCFCF;
$turquoise-opacity: rgba(0,147,147, .7);
$turquoise-dark: #2D647C;
$black: #202002;
$yellow: #FFF61F;
$orange: #faca1e;
$red: #F44336;
$white: #FFFFFF;


