@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@mixin RobotoRegular() {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
@mixin colorBlack($alpha) {
  color: rgba(32,32,2, $alpha);
}
$turquoise: #3CCFCF;
$turquoise-opacity: rgba(0,147,147, .5);
$turquoise-dark: #32A8A8;
$black: #202002;
$yellow: #FFF61F;
$orange: #faca1e;
$red: #F44336;
$white: #FFFFFF;
$green: rgb(35, 178, 109);
$green-opacity: rgba(35, 178, 109, 0.5);
$red2: rgb(255, 114, 91);
$red2-opacity: rgba(255, 114, 91, .5);
$color-primary: #ABA194;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199;

