@import "variables";

.section-modules {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 10%;
  width: 55%;
  .empty-h2 {
    @include colorBlack(.65)
  }
  .modules-groups {
    margin-left: 5%;
    width: 50%;
    .group {
      margin-bottom: 6%;
      &__date {
        padding-bottom: 2px;
        margin-bottom: 6px;
        display: flex;
        justify-content: flex-end;
        span {
          @include colorBlack(.9);
          font-size: 1.2em;
          letter-spacing: 0.04em;
          margin-right: 3%;
        }
      }
      a {
        @include colorBlack(.9);
        text-decoration: none;
      }
      &__module {
        transition-duration: 0.2s;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 0 14px 0;
        border-radius: 2px;
        box-shadow: 1px 2px 4px rgba(32, 32, 2, .2);
        cursor: pointer;
        &:hover {
          box-shadow: 1px 2px 4px rgba(32, 32, 2, .4);
        }
      }
      &__count-words {
        position: absolute;
        top: 2px;
        left: 3px;
        font-weight: 300;
        font-size: 0.8em;
      }
      &__module-title {
        font-weight: 300;
        font-size: 1.4em;
      }
    }
  }
  .create-module {
    transition-duration: 0.2s;
    width: 175px;
    height: 150px;
    background-color: $turquoise;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    &__plus {
      font-size:5.5em;
      font-weight: 300;
      display: flex;
      justify-content: center;
    }
    &__text {
      font-weight: 300;
      letter-spacing: 0.08em;
      display: flex;
      justify-content: center;
    }
    &:hover {
      background-color: $turquoise-dark;
    }
  }
}
