@import "variables";

.header {
  min-width: 100%;
  height: 60px;
  background-color: $turquoise;
  $self: &;
  &__container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  &__title {
    font-weight: 700;
    color: $white;
    font-size: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
    & > span {
      cursor: pointer;
    }
  }
  .sections {
    color: rgba(32, 32, 2, .8);
    display: grid;
    grid-template-columns: 1.2fr 2.7fr 1fr;
    height: 100%;
    font-size: 1.1em;
    &__item {
      transition-duration: 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &_active {
        .item__content {
          border-bottom: 2px rgba(32,32,2, 0.95) solid;
          color: rgba(32,32,2, 0.95);
          path {
            fill: rgba(32,32,2, 0.95)
          }
        }
      }
      path {
        transition-duration: 0.2s;
      }
      &:hover {
        color: $black;
        path {
          fill: $black;
        }
      }
    }
    &__films {
      .item__container {
        padding: 0 24px;
        border-right: 2px $turquoise-opacity solid;
        border-left: 2px $turquoise-opacity solid;
      }
    }
    .item {
      &__content {
        display: flex;
        align-items: center;
        padding: 2px 0.5rem 4px 0.5rem;
      }
      &__name {
        margin-left: 8px;
      }
      &-svg {
        height: 1em;
        width: 1em;
      }
    }
  }
  &__user {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-container {
      display: flex;
      cursor: pointer;
      & > .header__acc-name {
        transition-duration: 0.1s;
        color: $white;
        font-weight: 300;
        font-size: 0.9em;
        margin-right: 4px;
      }
      & > #account-options-SVG {
        path {
          transition-duration: 0.1s;
        }
        width: 16px;
        height: 16px;
      }
      &:hover {
        path{
          fill: #ccf5f5;
        }
        .header__acc-name {
          color: #ccf5f5;
        }
      }
    }
  }
}
