@import "~normalize.css";
@import "variables";
@import "header";
@import "dictionary-dashboard";
@import "dictionary-main";
@import "dictionary-editor";

html {
  @include RobotoRegular();
  color: $black;
  background-color: rgb(248, 249, 253);
}
